main {

}

h1 {
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

ul {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    border-style: solid;
}

li {
    display: inline-block;
    font-size: 2em;
    width: 15vw;
    height 10vh;
    border-right: 2px solid;
    border-radius: 5px;
    text-align: center;
}
